<div class="card_task">
  <div class="header_card">
    <h2 id="task_title">TItulo de la tarea</h2>

    <button id="complete_button">Marcar como completada</button>
    <button id="pendient_button">Marcar como pendiente</button>
  </div>

  <p id="task_description">
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola s ola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola s la s ola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola s hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola s
    ola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola s la s ola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola ssssssssssssssss ola hola hola hola hola hola hola hola hola
    s hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola s ola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola
  </p>
</div>
